*.py[cod]
*~
*.log

#Virtualenv
env

# C extensions
*.so

# Packages
dist
build
bin

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Other
*.py_
doc
*.swp
*.idea
