<launch>

  <arg name="jid" default="robair@im.quicker.fr"/>
  <arg name="password" default="robair" />
  <param name="robot_jabber_id" value="$(arg jid)"/>
  <param name="logger_level" value="DEBUG"/>
  <param name="robot_jabber_password" value="$(arg password)"/>


  <node pkg="robair_driver" type="webcam.py" name="webcam" required="true" output="screen" />
  <node pkg="robair_driver" type="battery.py" name="battery" required="true" output="screen" />
  <node pkg="robair_driver" type="network.py" name="network" required="true" output="screen" />
  <node pkg="robair_driver" type="keyboard.py" name="keyboard" required="true" output="screen" />
  <!-- <node pkg="robair_driver" type="nxt_node.py" name="nxt_node" required="true" output="screen" /> -->
  <node pkg="robair_app" type="robot_manager.py" name="robot_manager" required="true" output="screen"/>

  <!-- Start rviz and load config -->
  <!--<node pkg="rqt_graph" type="rqt_graph" output="screen" name="rqt_graph" />-->

</launch>