<launch>
  <param name="logger_level" value="DEBUG"/>
  <param name="tv_jabber_id" value="robair2013.tv@gmail.com"/>
  <param name="tv_jabber_password" value="Q1}aaM$3e"/>
  <param name="robot_jabber_id" value="robair2013.robot@gmail.com"/>
  <param name="robair_api_url" value="http://robair.quicker.fr/api/" />
  <param name="webcam_device" value="/dev/video0" />


  <node pkg="robair_driver" type="webcam.py" name="webcam" required="true" output="screen" />
  <node pkg="robair_driver" type="keyboard.py" name="keyboard" required="true" output="screen" />
  <node pkg="robair_app" type="http_streamer.py" name="http_streamer" required="true" output="screen" />
  <node pkg="robair_app" type="client_manager.py" name="client_manager" required="true" output="screen"/>

</launch>
